
<%- include header.ejs %>
<div class="row">
  <div class="col-sm-12">
    <img id="cover" src="http://www.billboard.com/files/styles/article_main_image/public/media/vinyl-records-stock-2017-billboard-1548.jpg" alt="stock image of vinyl records">

    <h1>Vinyl</h1>


  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h2>Records</h2>

    <div class="album-list">
      <% albums.forEach(function(album) { %>
        <div>
          <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
          <span><%= album.artist %></span>
        </div>
      <% }) %>
    </div>
  </div>

  <div class="col-sm-8">
    <h2>What people are saying... </h2>

    <div class="review list">
      <% reviews.forEach(function(review) { %>
        <div>
          <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
          <p><%= review.content %></p>
          <p> by <%=review.name %></p>
        </div>
      <% }) %>
    </div>
  </div>
</div>

<%-include footer.ejs %>
